*
{
    font-family: Baskerville Old Face; 
    margin: 10px;
    padding: 5px;
  
    
}


body
{
    background-image:url("../ima/comedi.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: lightgrey;

}

section
{
    text-align-last: center;
    background-image: url("../ima/comflor.jpg") ;
    height: 70%;
    width: 70%;
    text-align: center;
}
img
{
    height: 50%;
    width: 50%;
    align-content: center;
}
header
{
    align-content: center;
    height: 100%;
    width: 100%;
}
h2
{
    background-color: lightpink;
}
h1{
    text-align: center;
    background-color: rgb(193, 233, 14);
    height: 40%;
    width: 100%;
}
table
{
    background-color: teal;
}

   
